<mat-card>
  <app-filter></app-filter>
</mat-card>
<mat-card>
  <h2>Deliveries</h2>
  <ul>

    <li *ngFor="let delivery of deliveries"
        [class.selectedDelivery]="delivery === selectDelivery"
        (click)="onSelect(delivery)">
      <mat-card class="delivery-card">
        <mat-card-title>
          {{delivery.company}}
        </mat-card-title>
        <mat-card-content>
          {{delivery.description}}
        </mat-card-content>
        <mat-card-actions>
          <a>Realizar Pedido</a>
        </mat-card-actions>

      </mat-card>
    </li>

  </ul>

  <div *ngIf="selectDelivery">
    <h2>{{selectDelivery.company}} Menu</h2>
    <div>
      <label>Delivery:
        <input [(ngModel)]="selectDelivery.company" placeholder="company">
      </label>
    </div>

  </div>

</mat-card>
