.selectedDelivery {
  color: red!important;
}

mat-grid-tile {
  background: lightblue;
}

mat-card-header{
  background-color: blue;
  color: white;
}
mat-card-actions{
  margin-top: auto;
  bottom: 0;
}
.delivery-card{
  height: 12rem;
  width: 18rem;
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  flex-wrap: wrap;
}
li{
  list-style: none;
}
