
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                             multiple vertical>
      <mat-button-toggle value="bold">{{delivery.menues[1].descMenu}}</mat-button-toggle>
      <mat-button-toggle value="bold">{{delivery.menues[2].descMenu}}</mat-button-toggle>
      <mat-button-toggle value="bold">{{delivery.menues[3].descMenu}}</mat-button-toggle><mat-button-toggle value="bold">{{delivery.menues[4].descMenu}}</mat-button-toggle>

    </mat-button-toggle-group>

