
<div class="container menu ">
  <mat-form-field>
    <label>
      <input matInput placeholder="Nombre">
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="Apellido">
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="Dirección">
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="Teléfono">
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input matInput placeholder="Email">
    </label>
  </mat-form-field>
</div>
