<div class="border">
  <p>home works!</p>
  <p>Filtros</p>

  <div class="container">
    <h2>Deliveries</h2>
    <ul>
      <li *ngFor="let delivery of deliveries"
          [class.selectedDelivery]="delivery === selectDelivery"
          (click)="onSelect(delivery)">
        {{delivery.company}}
        {{delivery.description}}
      </li>
    </ul>

    <div *ngIf="selectDelivery">
      <h2>{{selectDelivery.company}} Menu</h2>
      <div>
        <label>Delivery:
          <input [(ngModel)]="selectDelivery.company" placeholder="company">
        </label>
      </div>

    </div>
  </div>

</div>
